{% extends "layout.html" %}

{% block page_content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        showSlides();
    });
</script>

<div class="main-content">
    <div class="image-container">
        <img class="mySlides fade" src="{{ url_for('static', filename='images/image_3.1.jpg')}}">
        <img class="mySlides fade" src="{{ url_for('static', filename='images/image_3.2.jpg')}}">
        <img class="mySlides fade" src="{{ url_for('static', filename='images/image_3.3.jpg')}}">
    </div>
    <div class="side-text">
        <h1 class="welcome-message">Welcome to Student Volunteer Management</h1>
        <p class="small-text">A new way to organize your club</p>
    </div>
</div>

<div class ="welcome-message">
    <p class="small-text">Get started with Student Volunteers today</p>
</div>

<div class="about-us-title">
    <h1 class="about-us-header">About us</h1>
    <div class="about-us">
        <p>
            Streamline the management of diverse sports volunteers with our comprehensive solution.
            Effectively organize and manage responsibilities with ease, transforming the challenges of coordinating volunteers into a seamless process.
            Say goodbye to cancelled events and experience a new era of efficiency. Try our solution today and elevate your volunteer management to unprecedented levels!
        </p>
    </div>
</div>

<h2 class="about-us-header">What Do We Do?</h2>
<section class="what-we-do">
    <div class="container">
        <button type='button' class='collapsible' onclick=expand(this)>
            Volunteer Recruitment
        </button>
        <div class='content'>
            <p>We connect organizations with enthusiastic volunteers who are passionate about making a difference.</p>
        </div>
        
        <button type='button' class='collapsible' onclick=expand(this)>
            Event Management
        </button>
        <div class='content'>
            <p>Our system helps you efficiently manage volunteer schedules, tasks, and communication for events and projects.</p>
        </div>
        
        <button type='button' class='collapsible' onclick=expand(this)>
            Real-time Updates
        </button>
        <div class='content'>
            <p>We give you updates as soon as they are posted so that you are always informed.</p>
        </div>
        
        <button type='button' class='collapsible' onclick=expand(this)>
            Training and Development
        </button>
        <div class='content'>
            <p>We provide resources and support to train volunteers and help them develop skills for their roles.</p>
        </div>
            
    </div>
</section>

<div>
    <div class="features">
        <h1 class="about-us-header">Features</h1>
        <div class="features-box" style="align-items: stretch;">
            <div class="features-job-box">
                <h2>&#128467</h2> 
                <h3>Events</h3>
                <p>Keep track of what jobs are available with our jobs display. 
                    Showcases all active jobs and their details allowing you to apply with just a click.</p>
            </div>
            <div class="features-profile-box">
                <h2>&#128100</h2>
                <h3>Profile</h3>
                <p>Craft a compelling personal profile to reflect your unique identity and achievements effortlessly.</p>
            </div>
            <div class="features-admin-box">
                <h2>&#128194</h2>
                <h3>Admin View</h3>
                <p>Empower yourself with seamless control and management capabilities through our Admin Page. 
                    Effortlessly oversee jobs, content moderation, and site settings all from one convenient page.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="reviews">
        <h1 class="about-us-header">Reviews</h1>
        <div class="reviews-box">
            <p>&#x2b50; &#x2b50; &#x2b50; &#x2b50; &#9734;</p>
            <div class="reviews-box1">
                <h4>Anonymous</h4>
                <p>&#x2b50; &#x2b50; &#x2b50; &#x2b50; &#9734;</p>
                <p>It has significantly improved my ability to organise volunteer events. 
                    The platform's user-friendly interface simplifies event creation and volunteer sign-up processes, enhancing overall efficiency.</p>
            </div>
            <div class="reviews-box2">
                <h4>Anonymous</h4>
                <p>&#x2b50; &#x2b50; &#x2b50; &#x2b50; &#x2b50;</p>
                <p>A Game-Changer for Organising events! It has revolutionised the way I organise volunteer events. The user-friendly interface makes it a breeze to create and showcase events, 
                    allowing volunteers to sign up with ease. I highly recommend it to anyone looking to organise volunteer events efficiently and effectively.</p>
            </div>
            <div class="reviews-box3">
                <h4>Anonymous</h4>
                <p>&#x2b50; &#x2b50; &#x2b50; &#9734; &#9734;</p>
                <p>Good!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
