{% extends "layout.html" %}

{% block page_content %}

<!-- Container for describing the terms and privacy information.-->
<div class = "terms-container">
    <!-- Title for the privacy and policy page. -->
    <h1>Privacy Policy</h1>
    <h2>02/05/2024</h2>
    <h3>What personal information do we process?</h3>
    <p>When you visit, use, or navigate our services, we may process personal information
        depending on how you interact with us, the choices you make, and the features you use.
    </p>
    <h3>Do we process sensitive personal information?</h3>
    <p>Depending on how you use our services, we will process personal information
        such as your qualifications.
    </p>
    <h3>Do we receive information from third parties?</h3>
    <p>We do not receive information from third parties.</p>
    <h3>How do we process your information?</h3>
    <p>We process your information to provide, improve, and administer our services,
        communicate with you, for security and fraud prevention, and to comply with law.
        We may also process your information for other purposes with your consent. We process
        your information only when we have a valid legal reason to do so.
    </p>
    <h3>With which parties do we share personal information?</h3>
    <p>We do not share personal information with third parties.</p>
    <h3>How do we keep your information safe?</h3>
    <p>We have technical processes and procedures in place to protect your personal information.
        However, no transmission over the internet or information storage technology can be guaranteed
        to be 100% secure, so we cannot promise that hackers, cybercriminals, or unauthorised
        third parties will not be able to defeat our security and improperly collect, access, steal,
        or modify your information.
    </p>
    <h3>What are your rights?</h3>
    <p>Uk laws and regulations stated your certain rights regarding your personal information.
    </p>
    <h3>How do you exercise your rights?</h3>
    <p>The easiest way to exercise your rights is by contacting us.</p>
</div>

{% endblock %}