{% extends "layout.html" %}

{% block page_content %}
<div class="contact-title-box">
    <h1 class = 'contact-title'>Contact Us</h1>
</div>

<h3 class="Contact-guide">We're here to help! Available 7 days of the week</h3>

<p class="Contact-guide" style="max-width: 50%; margin: 0 auto;">Whether you have a question, feedback, or need assistance, 
    we'd love to hear from you. Our team is dedicated to providing exceptional customer 
    service and ensuring your experience with us is a positive one. Feel free to reach out through any of the 
    following methods:</p>

<div class="contact-container">
    <div class="contact-box contact-scrollable-box">
        <h2>Email us</h2>
        <p>Contact@SVolunteer.com</p>
        <p style="margin: 30px 40px 0px 40px;">Feel free to send us an email, and we will get 
            back to you with the information you need as soon as possible!
        </p>

    </div>
    <div class="contact-box contact-scrollable-box">
        <h2>Call us</h2>
        <p>0-123-456-7890</p>
        <p style="margin-top:30px;">Available between:<br>Monday - Friday: 8am to 6pm BST<br>Saturday - Sunday: 9am to 8pm BST</p>
    </div>
    <div class="contact-box contact-scrollable-box">
        <h2>Location</h2>
        <p> Cardiff University, Senghennydd Road <br>
            Cardiff, CF24 4AG</p>
        <p>Available between:<br>Monday - Friday: 8am to 6pm BST<br>Saturday - Sunday: 9am to 8pm BST</p>
    </div>
</div>
{% endblock %}