{% extends "layout.html" %}

{% block page_content %}
<body class="pricing-page">
    <div class="pricing-title-box">
        <h1 class = 'pricing-title'>Pricing</h1>
    </div>

    <div class="pricing-container">
        <div class="free-box">
            <h1>Standard</h1>
            <h5><span style="font-size: 40px;">£5.99</span><br>Standard</h5>
            <hr>
            <div class="pricing-join">Join</div>

            <div class="box-features">
                <p><span>&#x2611;</span> Admin</p>
                <p><span>&#x2611;</span> Profiles</p>
                <p><span>&#x2611;</span> 1 Month Free Trial</p>
                <p><span>&#x2611;</span> View Events</p>
                <p><span>&#x2611;</span> View Jobs</p>
            </div>
            <p onclick="scrollToSection('pricing-section')">→ See all features</p>
        </div>
        
        <div class="paid-box">
            <h1>Premium</h1>
            <h5><span style="font-size: 40px;">£14.99</span><br>per month</h5>
            <hr>
            <div class="pricing-join">Join</div>
            <div class="box-features">
                <p><span>&#x2611;</span> Everything in Standard, plus:</p>

                <p><span>&#x2611;</span> 24/7 Support</p>
                <p><span>&#x2611;</span> Advanced Admin Abilities</p>
            </div>
            <p  onclick="scrollToSection('pricing-section')">→ See all features</p>
        </div>
    </div>
    
    <section class="pricing-suit-you">
        <h1>Choose What Suits You</h1>
        <p>Whether you choose our Standard version or decide to upgrade to our premium,
            rest assured that we've got you covered every step of the way. We're committed to providing you with the highest 
            quality features and services that meet your needs and exceed your expectations. No matter which option you choose, 
            you can trust that you're getting the best of what we have to offer, tailored to suit your unique requirements and 
            preferences. Got any questions? Let us know <br> <a href="http://127.0.0.1:5000/contact">We're here to help!</a>
        </p>
    </section>

    <section id="pricing-section" class="pricing-feature">
        <h1>Features</h1>
        <h2>Standard</h2>
        <div class="pricing-premium">
            <div class="feature-free">
                <h4>Admin</h4>
                <p>Empower yourself with seamless control and management capabilities through our Admin Page. 
                    Effortlessly oversee jobs, content moderation, and site settings all from one convenient page.</p>
            </div>
            <div class="feature-free">
                <h4>Profiles</h4>
                <p>Craft a compelling personal profile to reflect your unique identity and 
                    achievements effortlessly.</p>
            </div>
            <div class="feature-free">
                <h4>View Events</h4> 
                <p>Keep track of what jobs are available with our jobs display. 
                    Showcases all active jobs and their details allowing you to apply with just a click.</p>
            </div>
            <div class="feature-free">
                <h4>View Jobs</h4>
                <p>Easily track the status of your job applications.</p>
            </div>
            <div class="feature-free">
                <h4>Announcements</h4>
                <p>A vital tool to communicate important updates, policy changes, and share information to users, 
                    fostering transparency and engagement.</p>
            </div>
        </div>

        <h2>Premium</h2>
        <p>Upgrade to Premium to Access These Additional Features</p>
        <div class="pricing-premium">
            <div class="feature-premium" onclick="toggleDescription('pricing-description1')">
                <p>24/7 Support</p>
            </div>
            <div class="feature-premium" onclick="toggleDescription('pricing-description2')">
                <p>CSV Upload</p>
            </div>
            <div class="feature-premium" onclick="toggleDescription('pricing-description3')">
                <p>No Ads</p>  <!-- No clue if we're actually going to have ads -->
            </div>
            <div class="feature-premium" onclick="toggleDescription('pricing-description4')">
                <p>Auto Assign</p>
            </div>
        </div>
        <hr>
        <div class="pricing-descriptions">
            <div id="pricing-description1" class="pricing-description"><h2>24/7 Support</h2>
                <p>Our support team is available 24/7 to assist you whenever you need help or have questions.</p>
            </div>
            <div id="pricing-description2" class="pricing-description" style="display: none;"><h2>CSV Upload</h2>
                <p>Effortlessly upload your data with just a few clicks, enhancing your workflow to optimise productivity.</p>
            </div>
            <div id="pricing-description3" class="pricing-description" style="display: none;"><h2>No Ads</h2>
                <p>Enjoy an ad-free environment, where your focus remains undisturbed on the content and services.</p>
            </div>
            <div id="pricing-description4" class="pricing-description" style="display: none;"><h2>Auto Assign</h2>
                <p>Admins can automatically assigns members to events.</p>
            </div>
        </div>
    </section>
</body>
{% endblock %}