{% extends "layout.html" %}

{% block page_content %}

<h1 class = 'page_title'>Admin page</h1>

<form action="" method="POST">
    {{ new_job_form.csrf_token }}
    <p>
    {{ new_job_form.job_name.label }} {{ new_job_form.job_name() }}
    </p>
    <p>
    {{ new_job_form.job_description.label }} {{ new_job_form.job_description() }}
    </p>
    <p>
    {{ new_job_form.volunteers_needed.label }} {{ new_job_form.volunteers_needed() }}
    </p>
    <p>
    {{ new_job_form.start_time.label }} {{ new_job_form.start_time() }}
    </p>
    <p>
    {{ new_job_form.end_time.label }} {{ new_job_form.end_time() }}
    </p>
    <p>
    {{ new_job_form.date.label }} {{ new_job_form.date() }}
    </p>
    <p>
        {{ new_job_form.job_requirements.label }}
        {% for subfield in new_job_form.job_requirements %}
            <div>
                {{ subfield }} {{ subfield.label }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ new_job_form.submit() }}
    </p>
</form>


<h3>Upload Jobs CSV file</h3>

<form method="POST" action="/upload_jobs" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<h3>Club Members</h3>
<table>
    <thead>
        <tr>
            <th>Preferred Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Qualifications</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.preferred_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{ user.qualifications }}</td>
        <td>{{ user.events }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Add New Qualification</h3>
<form action="" method="POST">
    {{ qualification_form.csrf_token }}
    {{ qualification_form.qualification_name.label }} {{ qualification_form.qualification_name() }}
    {{ qualification_form.qualification_description.label }} {{ qualification_form.qualification_description() }}
    {{ qualification_form.submit() }}
</form>

<h3>Existing Qualifications</h3>
<ul>
{% for qualification in qualifications %}
    <li>{{ qualification.qualification_name }}: {{ qualification.qualification_description }}</li>
{% endfor %}
</ul>

{% endblock %}