{% extends "layout.html" %}

{% block page_content %}
<!-- Title section for the current jobs page. -->
<div class="timetable-title-box">
    <h1 class='timetable-title'>Current Jobs</h1>
</div>

<!-- Display an ad if the user is ona free subscription plan. -->
{% if prescription_level == 'free' %}
<div class="ad_top">
    <h1 class='ad_text'>[ad]</h1>
</div>
{% endif %}

<!-- Check to see if any jobs are available. -->
{% if jobs %}
<p class="timetable-guide">Click on jobs to see more details and request to volunteer for jobs</p>

<!-- Container for all job listings. -->
<div class="timetable-boxes">
    {% for job in jobs %}
    <!-- Each job listing as a clickable element that triggers a pop up for more information. -->
    <div class="job-content">
        <element class='popup_element' onclick="togglePopup('{{ job.job_id }}')">
            <!-- A brief description about the job which is displayed to the user. -->
            <div class="job-box">
                <div class="job-name-box">
                    <div class="job-name"><b>{{ job.job_name }}</b></div>
                </div>
                <div>Volunteers needed left: <span>{{ job.volunteers_needed_left }}</span></div>
                <div>Volunteers Needed: <span>{{ job.volunteers_needed }}</span></div>
                <div>Date: <span>{{ job.date }}</span></div>
                <div>Start time: <span>{{ job.start_time }}</span></div>
                <div>End time: <span>{{ job.end_time }}</span></div>
            </div>
        </element>
        
        <!-- Displays detailed information about the job when the element is clicked. -->
        <div class="popup" id="popup-{{ job.job_id }}">
            <div class="popup-overlay"></div>
            <div class="popup-content">
                <!-- Button which is used to close the pop up information. -->
                <button class="popup-close-btn" onclick="togglePopup('{{ job.job_id }}')">&times;</button>
                <div class="popup-job-name-box">
                    <p class="job-name"><b>{{ job.job_name }}</b></p>
                </div>
                <div class="popup-info">
                    <p>Volunteers Needed: {{ job.volunteers_needed }}</p>
                    <div>Volunteers Needed Left: <span>{{ job.volunteers_needed_left }}</span></div>
                    <p>Date: {{ job.date }}</p>
                    <p>Time: {{ job.start_time }} - {{ job.end_time }}</p>
                    <p>Description: {{ job.job_description }}</p>
                    <div>
                        <p class="popup-requirements">Requirements:</p>
                        <ul>
                            {% for qualification in job.job_qualifications %}
                                <li>{{ qualification.qualification_name }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                    </div>

                    <!-- Display the appropriate action based on the job availability and the user's qualifications. -->
                    {% if job.job_id in qualified_jobs_ids %}
                        {% if job.job_id in assigned_job_ids %}
                            <div>You are assigned to this job</div>
                        {% elif job.job_id in requested_job_ids %}
                            <div>You have requested this job</div>
                        {% elif job.job_id not in requested_job_ids %}
                            {% if job.volunteers_needed_left > 0 %}
                            <form method="post">
                                <input type="hidden" name="job_id_request" value="{{ job.job_id }}">
                                <input class='request-button' type="submit" value="Request job">
                            </form>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <br>
                        <div>You do not meet the qualifications for this job.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<!-- This message when there are no jobs available.-->
<div class="no-jobs">
    <h1>No jobs found</h1>
    <p>There are no available jobs at the moment.</p>
</div>
{% endif %}

<!-- JavaScript to toggle the visibility of job details popups. -->
<script>
function togglePopup(jobId) {
    document.getElementById("popup-" + jobId).classList.toggle("job_active");
}
</script>
{% endblock %}
