{% extends "layout.html" %}

{% block page_content %}

<div class="main-content">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/image_3.1.jpg')}}">
    </div>
    <div class="side-text">
        <h1>Welcome to Student Volunteer Management</h1>
        <p class="small-text">A new way to organize your club</p>
        <a href="/timetable" class="btn">View My Timetable &#8594;</a>
    </div>
    </div>
</div>

<div class ="welcome-message">
    <p class="small-text">Get started with Student Volunteers today</p>
</div>

<div class="about-us-title">
    <h1 class="about-us-header">About us</h1>
    <div class="about-us">
        <p>
            Streamline the management of diverse sports volunteers with our comprehensive solution.
            Effectively organize and manage responsibilities with ease, transforming the challenges of coordinating volunteers into a seamless process.
            Say goodbye to cancelled events and experience a new era of efficiency. Try our solution today and elevate your volunteer management to unprecedented levels!
        </p>
    </div>
</div>

<section class="what-we-do">
    <div class="container">
      <h2 class="section-heading">What Do We Do?</h2>
      <div class="row">
        <div class="col-md-4">
            <div class="container-2">
                <h3>Volunteer Recruitment</h3>
                <p>We connect organizations with enthusiastic volunteers who are passionate about making a difference.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-2">
                <h3>Event Management</h3>
                <p>Our system helps you efficiently manage volunteer schedules, tasks, and communication for events and projects.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-2">
                <h3>Training and Development</h3>
                <p>We provide resources and support to train volunteers and help them develop skills for their roles.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-2">
                <h3>Real-time updates</h3>
                <p>We give you updates as soon as they are posted so that you are always informed.</p>
            </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
