<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<div id="page-container">

    <ul class="navbar">
        <li>
            <div class="navbar_box_logo">
                <br>
                <img class="top_logo"
                    src="{{ url_for('static', filename='images/darker_logo.png') }}"
                    onmouseover= this.src="{{ url_for('static', filename='images/light_logo.png') }}"
                    onmouseout= this.src="{{ url_for('static', filename='images/darker_logo.png') }}"
                    alt="logo image" /> 
            </div>
        </li>

        <li>
            <div class="navbar_box">
                <a class="navbar_item" href="{{ url_for('current_jobs') }}">Current Jobs</a>
            </div>
        </li>

        <li>
            <div class="navbar_box">
                <a class="navbar_item" href="{{ url_for('my_jobs') }}">My Jobs</a>
            </div>
        </li>

        <li>
            <div class="navbar_box">
                <a class="navbar_item" href="{{ url_for('profile') }}">Profile</a>
            </div>
        </li>

        <li>
            <div class="navbar_box">
                <a class="navbar_item" href="{{ url_for('announcements') }}">Announcements</a>
            </div>
        </li>

        {% if current_user.admin %}
            <li>
            <div class="navbar_box">
                <a class="navbar_item" href="{{ url_for('admin') }}">Admin</a>
            </div>
        </li>
        {% endif %}

        <li class = "navbar_right">
            <div class="navbar_box">
                <a class="navbar_item" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </li>
    </ul>



    <div id = "content-wrap">
        {% block page_content %}{% endblock %}
    </div>
    
</div>

<footer class="footer">
    <p class = 'footer_text'>for more infomation click on the following links:</p>
    <p><a href="{{ url_for('terms') }}" class = 'footer_link'>→ Terms & Conditions</a></p>
    <p><a href="{{ url_for('privacy')}}" class = 'footer_link'>→ Privacy Policy</a></p>
</footer>
