<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<div id="page-container">

    <div class="header">
        <img class="top_logo" src="{{ url_for('static', filename='images/light_logo.png') }}">
    </div>

    <ul class = "navbar">
        <li style = "margin-left: 10px"><div class = "navbar_box"><a class = "navbar_item" href="{{ url_for('home') }}">Home</a></div></li>
        <li><div class = "navbar_box"><a class = "navbar_item" href="{{ url_for('timetable') }}">Timetable</a></div></li>
        <li><div class = "navbar_box"><a class = "navbar_item" href="{{ url_for('pick_club') }}">Pick Club</a></div></li>
        <li><div class = "navbar_box"><a class = "navbar_item" href="{{ url_for('signup') }}">Sign Up</a></div></li>
        <li><div class = "navbar_box"><a class = "navbar_item" href="{{ url_for('login') }}">Login</a></div></li>
    </ul>


    {% block content %}
        <div class="container">
            {% block page_content %}{% endblock %}
        </div>
    {% endblock %}


    <footer class="footer">
        <p class = "footer_text">footer text</p>
    </footer>

<!--footer not in layout as don't want footer in login, signup, thank you and checkout page-->
</div>