<!DOCTYPE html>
<html lang="en">

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="login_container">

    <div class="big_left">
        <img class="login_logo"
                        src="{{ url_for('static', filename='images/light_logo.png') }}">
    </div>

    <div class="big_right">
        <div class="login_box">
            <h1>Login</h1>
            {% if error %}
            <p class = 'already_exists'>{{ error }}</p>
            {% endif %}
            <form action="" method="POST">
                {{ form.csrf_token }}
                <p>
                {{ form.username.label }} {{ form.username() }}
                </p>
                <p>
                {{ form.password.label }} {{ form.password(class="login-password") }}
                </p>
                <p>
                {{ form.submit() }}
                </p>
            </form>
            <a class = 'to_signup' href="{{ url_for('signup') }}"><p>Sign up</p></a>
        </div>
    </div>
</div>

</body>


</html>
