{% extends "layout.html" %}

{% block page_content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("defaultOpen").click();
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("defaultOpen").click();
    });
</script>

<div class="p-title-box">
    <h1 class = 'profile-title'>{{ current_user.username }}'s Profile</h1>
</div>


<div class='profile-container'>

    <div class='tab-container'>
        <button class="profile-tab" onclick="showTab('PersonalDetails', this)" id="defaultOpen">Personal Details</button>
        <button class="profile-tab" onclick="showTab('AboutMe', this)">About Me</button>
        <button class="profile-tab" onclick="showTab('Qualifications', this)">Qualifications</button>
    </div>

    <form id="PersonalDetails" class="profile-tab-content profile-flex" action="" method="POST">
        
        {{ profile_form.csrf_token }}
        {{ profile_form.hidden_tag() }}

        <!-- Pass in event so that it can be ignored in the js function
        Was default submitting the form when the button was clicked. -->
        <button class="Edit" style onclick="showEdits(event)">Edit</button>
        
        <!-- <button class='Edit Save toggleEdit'>Save Changes</button> -->
        <div class='toggleEdit'>
            {{ profile_form.save_changes(class='Edit Save') }}
        </div>

        <div class='details-section'>
            <p class = "profile-box-text">Username: </p>
            <p class='profile-box-text profile-data-text'>{{ current_user.username }}</p>
        </div>
        
        <div class='details-section'>
            <p class = "profile-box-text">Email:</p>
            <p class='profile-box-text profile-data-text'>{{ current_user.email }}</p>
            <div class="profile-box-text toggleEdit">
                {{ profile_form.new_email.label }} {{ profile_form.new_email }}
                {{ profile_form.remove_email }}
            </div>
            {% if profile_form.new_email.errors %}
                <div class="errors">
                {% for error in profile_form.new_email.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class='details-section'>
            <p class = "profile-box-text">Mobile:</p>
            <p class='profile-box-text profile-data-text'>{{ current_user.mobile }}</p>
            <div class = "profile-box-text toggleEdit">
                {{ profile_form.new_mobile.label }} {{ profile_form.new_mobile }}
                {{ profile_form.remove_mobile }}
            </div>
        </div>

        <div class='details-section'>
            <p class = "profile-box-text">Date of birth (DD/MM/YYYY):</p>
            <p class='profile-box-text profile-data-text'>{{ current_user.dob }}</p>
            <div class = "profile-box-text toggleEdit">
                {{ profile_form.new_dob.label }} {{ profile_form.new_dob }}
                {{ profile_form.remove_dob }}
            </div>
        </div>

        <div class='details-section'>
            <p class = "profile-box-text">Address:</p>
            <p class='profile-box-text profile-data-text'>{{ current_user.address }}</p>
            <div class = "profile-box-text toggleEdit">
                {{ profile_form.new_address.label }} {{ profile_form.new_address }}
                {{ profile_form.remove_address }}
            </div>
        </div>

        <div class='details-section'>
            <p class = "profile-box-text">Gender:</p>
            <p class='profile-box-text profile-data-text'>{{ current_user.gender }}</p>
            <div class = "profile-box-text toggleEdit">
                {{ profile_form.new_gender.label }} {{ profile_form.new_gender }}
                {{ profile_form.remove_gender }}
            </div>
        </div>
    </form>

    <div id="AboutMe" class="profile-tab-content">
        <p class='profile-box-text'>About {{ current_user.username }}:</p>
        <form action="" method="POST">
            {{ details_form.csrf_token }}
            {{ details_form.hidden_tag() }}

                <textarea name="new_details" class="form-control" rows="5">{{ current_user.details }}</textarea>
            <div>{{ details_form.submit5(style='margin: 0rem 0rem 1rem 3rem') }}</div>
        </form>
    </div>

    <div id="Qualifications" class="profile-tab-content">
        <p class="profile-box-text">
            My Qualifications:
            {% for qualification in current_user.qualifications %}
                {{ qualification.qualification_name }}
            {% endfor %}
        </p>
        <form action="" method="POST">
            <p class="profile-box-text">
                <i>Select qualifications that you have and press update qualifications to save changes</i>
            </p>
            <p class="profile-box-text">
                <i>-----------------------</i>
            </p>
            {% for qualification in qualifications %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="qualification_ids" value="{{ qualification.qualifications_id }}" id="qualification_{{ qualification.qualifications_id }}" {% if qualification.qualifications_id in user_qualifications %} checked {% endif %}>
                    <label class="form-check-label" for="qualification_{{ qualification.qualifications_id }}">
                        {{ qualification.qualification_name }}
                    </label>
                </div>
            {% endfor %}
            {% if qualifications %}
                <button type="submit" class="Edit">Update Qualifications</button>
            {% else %}
            <p class="profile-box-text">
                <i>There are no current possible qualifications</i>
            </p>
            {% endif %}

        </form>
    </div>

</div>

{% endblock %}