{% extends "layout.html" %}

{% block page_content %}

<script src="../static/edit-buttons.js"></script>

<div class="p-title-box">
    <h1 class = 'profile-title'>My Profile</h1>
</div>

<div style="background-color: #ececec; border-radius: 10px; padding: 20px; margin: 10px; position: static;">
    <div class="profile-details-box profile-box">
        <p class = "profile-box-title">Details</p>
    </div>

    <div class="profile-personal-box profile-box">
        <p class = "profile-box-title">Personal Information</p>
        <p class = "profile-box-text">Username: {{ current_user.username }}</p>

        <p class = "profile-box-text">
            Email: {{ current_user.email }}
            <button class="Edit" onclick= "editEmails()"> Edit </button>
            <form action="" method="POST">
                <div>
                    {{ email_form.csrf_token }}
                    <p class = "profile-box-text" id = "profile-box-email" style = "display:none">
                        {{ email_form.new_email.label }} {{ email_form.new_email() }} {{ email_form.submit1() }}
                    </p>
                </div>
            </form>
        </p>
        <p class = "profile-box-text">
            <form action="" method="POST">
                <div>
                    {{ remove_email.csrf_token }}
                    <p>
                        {{ remove_email.submit3() }}
                    </p>
                </div>
            </form>
        </p>

        <p class = "profile-box-text">
            Mobile: {{ current_user.mobile }}
            <button class="Edit" onclick = "editMobile()"> Edit </button>
            <form action = "" method = "POST">
                <div>
                    {{ mobile_form.csrf_token }}
                    <p class = "profile-box-text" id = "profile-box-mobile" style = "display:none">
                        {{ mobile_form.new_mobile.label }} {{ mobile_form.new_mobile() }} {{ mobile_form.submit2() }}
                    </p>
                </div>
                
            </form>
        </p>
        <p class = "profile-box-text">
            <form action="" method="POST">
                <div>
                    {{ remove_mobile.csrf_token }}
                    <p>
                        {{ remove_mobile.submit4() }}
                    </p>
                </div>
            </form>
        </p>
    </div>

    <div class="profile-qualifications-box profile-box">
        <p class="profile-box-title">Qualifications</p>
        <p class = "profile-box-text">
                {% for qualification in current_user.qualifications %}
                    {{ qualification.qualification_name }}
                {% endfor %}
        </p>

    </div>

    <div class="profile-qualifications-box profile-box">
        <p class="profile-box-title">Add Qualifications</p>
        <form action="" method="POST">
            {{ email_form.csrf_token }}
            {% for qualification in qualifications %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="qualification_ids" value="{{ qualification.qualifications_id }}" {% if qualification.qualifications_id in user_qualifications %} checked {% endif %}>
                        <strong>{{ qualification.qualification_name }}</strong><br>
                        <span style="margin-left: 22px;">{{ qualification.qualification_description }}</span>
                    </label>
                </div>
            {% endfor %}
            <input type="submit" value="Update Qualifications">
        </form>
    </div>

    <div class="profile-qualifications-box profile-box">
        <p class="profile-box-title">Assigned Jobs</p>
        {% if assigned_jobs %}
            {% for job in assigned_jobs %}
                <div>
                    <p>Job Name: {{ job.job_name }}</p>
                    <p>Job Description: {{ job.job_description }}</p>
                    <!-- Add more job details as needed -->
                </div>
            {% endfor %}
        {% else %}
            <p>No assigned jobs currently.</p>
        {% endif %}
    </div>

    <div class="profile-qualifications-box profile-box">
        <p class="profile-box-title">My Pending Requests</p>

        <p class="profile-box-subtitle">Volunteering requests:</p>

        {% if my_requests %}

        {% for my_request in my_requests %}
            <p> Job name: {{ my_request.job.job_name }} </p>
        {% endfor %}

        {% else %}
            <p> No current requests for jobs </p>
        {% endif %}

        <p class="profile-box-subtitle">Remove from job requests:</p>

        {% if my_remove_requests %}

        {% for my_remove_request in my_remove_requests %}
            <p> Job name: {{ my_remove_request.job.job_name }} </p>
        {% endfor %}

        {% else %}
            <p> No current remove requests for jobs </p>
        {% endif %}
    </div>

</div>

{% endblock %}