{% extends "layout.html" %}

{% block page_content %}

<script src="../static/edit-buttons.js"></script>

<div class="p-title-box">
    <h1 class = 'profile-title'>My Profile</h1>
</div>


<div class='profile-container'>

    <div class='tab-container'>
        <button class="profile-tab" onclick="showTab('PersonalDetails', this)" id="defaultOpen">Personal Details</button>
        <button class="profile-tab" onclick="showTab('AboutMe', this)">About Me</button>
        <button class="profile-tab" onclick="showTab('Jobs', this)">Jobs</button>
        <button class="profile-tab" onclick="showTab('Qualifications', this)">Qualifications</button>
    </div>

    <div id="PersonalDetails" class="profile-tab-content">

        <p class = "profile-box-text">
            Username: {{ current_user.username }}</p>
        <button class="Edit" onclick="showEdits()">Edit</button>
        <p class = "profile-box-text">
            Email: {{ current_user.email }}</p>
        <form action="" method="POST">
            {{ email_form.csrf_token }}
            <div class="profile-box-text toggleEdit" style="display:none">
                {{ email_form.new_email.label }} {{ email_form.new_email() }} {{ email_form.submit1() }}
                {{ remove_email.csrf_token }}
                {{ remove_email.submit3() }}
            </div>
        </form>
        <p class = "profile-box-text">
            Mobile: {{ current_user.mobile }}</p>
        <form action = "" method = "POST">
            {{ mobile_form.csrf_token }}
            <div class = "profile-box-text toggleEdit" style = "display:none">
                {{ mobile_form.new_mobile.label }} {{ mobile_form.new_mobile() }} {{ mobile_form.submit2() }}
                {{ remove_mobile.csrf_token }}
                {{ remove_mobile.submit4() }}
            </div>
        </form>

        <p class='profile-box-text'>Date of birth: 05/10/2002</p>
        <p class='profile-box-text'>Gender: Male</p>
        <p class='profile-box-text'>Address: 1 Main Street, Cardiff, CF24 3JL</p>


    </div>
    
    <div id="AboutMe" class="profile-tab-content">
        <p class='profile-box-text'>About {{ current_user.username }}:</p>
        <form action="" method="POST">
            {{ details_form.csrf_token }}
                <textarea name="new_details" class="form-control" rows="5">{{ current_user.details }}</textarea>
                <p class='profile-box-text'>{{ current_user.details }}</p>
            {{ details_form.submit5(style='margin: 0rem 0rem 1rem 3rem') }}
        </form>
    </div>

    <div id="Jobs" class="profile-tab-content">
        <p class='profile-box-text'>Current number of jobs completed: {{ current_user.jobs_completed }}</p>
        <p class="profile-box-text">Assigned Jobs:</p>
        {% if assigned_jobs %}
            {% for job in assigned_jobs %}
                <div class='job-details'>
                    <p class='profile-box-text' style='font-size: 3vh;'>Job Name: {{ job.job_name }}</p>
                    <p class='profile-box-text' style='font-size: 3vh;'>Job Description: {{ job.job_description }}</p>
                    <!-- Add more job details as needed -->
                </div>
            {% endfor %}
        {% else %}
            <p class='profile-box-text' style='font-size: 3vh;'>No assigned jobs currently.</p>
        {% endif %}
        <p class="profile-box-text">My Pending Requests:</p>

        {% if my_requests %}

        {% for my_request in my_requests %}
            <p class='profile-box-text'> Job name: {{ my_request.job_id[0].job_name }} </p>
        {% endfor %}

        {% else %}
            <p class='profile-box-text'  style='font-size: 3vh;'> No current requests for jobs </p>
        {% endif %}

        <p class="profile-box-text">Remove from Job Requests:</p>

        {% if my_remove_requests %}

        {% for my_remove_request in my_remove_requests %}
            <p class='profile-box-text'> Job name: {{ my_remove_request.job_id[0].job_name }} </p>
        {% endfor %}

        {% else %}
            <p class='profile-box-text' style='font-size: 3vh;'> No current remove requests for jobs </p>
        {% endif %}
    </div>

    <div id="Qualifications" class="profile-tab-content">
        <p class="profile-box-text">
            My Qualifications:
            {% for qualification in current_user.qualifications %}
                {{ qualification.qualification_name }}
            {% endfor %}
        </p>
        <form action="" method="POST">
            {% for qualification in qualifications %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="qualification_ids" value="{{ qualification.qualifications_id }}" id="qualification_{{ qualification.qualifications_id }}" {% if qualification.qualifications_id in user_qualifications %} checked {% endif %}>
                    <label class="form-check-label" for="qualification_{{ qualification.qualifications_id }}">
                        {{ qualification.qualification_name }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="Edit">Update Qualifications</button>
        </form>
    </div>

</div>

{% endblock %}