{% extends "layout.html" %}

{% block page_content %}

<!-- Container for the terms and conditions content. -->
<div class="terms-container">
    <h1>Terms & Conditions</h1>
    <h2> Updated: 02/05/2024</h2>
    <p>We are Sports Volunteers a University group project based at Cardiff University.<br><br/>
        By using our services you represent and warrant that:
    </p>
        <div style="list-style-type: disc;">
            <div>•	all registration information you submit will be true, accurate, current and complete;</div>
            <div>•  you will maintain the accuracy of such information and promptly update such registration information as necessary;</div>
            <div>•  you have legal capacity, and you agree to comply with these Legal Terms;</div>
            <div>•  you are not under the age of 13;</div>
            <div>•  you will not access our services through automated or non-human means, whether through a bot, script or otherwise;</div>
            <div>•  you will not use our services for any illegal or unauthorised purpose;</div>
            <div>•  your use of the services will not violate any applicable law.</div>
        </div>
    <p>
        If you provide any information that is untrue, inaccurate, or incomplete, we have the right to terminate your account and refuse any and all current or future use of our service.<br><br/>
        You will be required to register to use our service. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select, if we determine, in our sole discretion, that such username is inappropriate.<br><br/>
        You may not access or use our service for any purpose other than that for which we make our service available. The service may not be used in connection with any commercial endeavours except those that are specifically endorsed or approved by us.<br><br/>
        As a user of our service, you agree not to:
        <div style="list-style-type: disc;">
            <div>•  trick or defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords;</div>
            <div>•  circumvent, disable, or otherwise interfere with security related features of our service;</div>
            <div>•  use any information obtained by our service in order to harass, abuse or harm another person;</div>
            <div>•  make improper use of our support service or submit false reports of abuse or misconduct;</div>
            <div>•  use our service in a manner inconsistent with any applicable laws or regulations;</div>
            <div>•  upload or transmit viruses, Trojan horses, or other materials, including excessive use of capital letters and spamming, that interferes with any party’s uninterrupted use, enjoyment and functionality of our services.</div>
            <div>•  engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar gathering and extraction tools;</div>
            <div>•  attempt to impersonate another user or person;</div>
            <div>•  attempt to bypass any measures of our services that are designed to prevent or restrict access to our service;</div>
        </div>
    </p>

    <!-- User behaviour policy. -->
    <h3>User Data</h3>
    <p>We will maintain certain data that you will transmit using our services for the purposes of managing the performance of our system, as well as data relating to the use of our service. Although we follow many procedures to ensure your data is kept secure, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using our services.<br><br/>
        We care about data privacy and security. By using our services, you agree to be bound by our Privacy Policy, which is incorporated into these Legal terms. Please be advised the services are hosted in the United Kingdom. 
    </p>
    <h3>User Registration</h3>
    <p>The services are intended for users who are at least 13 years of age. All users who are minors (under the age of 18) must have permission from, and be directly supervised by, their parent or guardian to use the services. If you are a minor, you must have your parent or guardian read and agree to these Legal Terms prior to you using the services.<br><br/>
    </p>
    <h3>User Generated Contributions</h3>
    <p>Contributions. The services may invite you to communicate, contribute to, or participate in message boards, and other functionality during which you may create, submit, post, display, and distribute content to us through our service.<br><br/>
        You understand that Contributions may be viewable by other users of the services.<br><br/>
        You are responsible for what you post or upload. By posting contributions through any part of our services or making contributions accessible through our services you:
        <div style="list-style-type: disc;">
            <div>•	confirm that you will not post, send, publish, upload, or transmit through our services any contribution that is illegal, harassing, hateful, harmful, defamatory, obscene, bullying, abusive, discriminatory, threatening to any person or group, sexually explicit, false, inaccurate, deceitful or misleading;</div>
    </p>
    <p>
        We may remove or edit your content: Although we have no obligation to monitor any contributions, we shall have the right to remove or edit any contributions at any time without notice if in our reasonable opinion we consider such contributions harmful or in breach of these Legal Terms. If we remove or edit such contributions, we may also suspend or disable your account and report to you the authorities.<br><br/>
    </p>
    <h3>Prohibited Activities</h3>
    <p>
        Our services may invite you to chat, contribute to, message boards, and other functionality, and may provide you with the opportunity to create, submit, and post using our services. Contributions may be viewable by other users of our services. When you create or make available any Contributions, you thereby warrant that:
        <div style="list-style-type: disc;">
            <div>•	your contributions are not false, inaccurate, or misleading;</div>
            <div>•	your contributions are not obscene, lewd, lascivious, filthy, violent, harassing, slanderous or otherwise objectionable (as determined by us);</div>
            <div>•	your contribution does not ridicule, mock, disparage, intimidate, or abuse anyone;</div>
            <div>•	your contributions are not used to harass or threaten any other person and to promote violence against a specific person or class of people;</div>
            <div>•	your contribution does not violate any applicable law, regulation, or rule;</div>
            <div>•	your contribution does not violate the privacy or publicity rights of any third party;</div>
            <div>•	your contributions do not include any offensive comments that are connected to race, national origin, gender, sexual preference, or physical handicap.</div>
        </div>
    </p>
    <p>
        Any use of our Services that violates these terms, may result in, among in other things, termination or suspension of your rights to use our service.
        Terms & conditions developed alongside the use of <a href="https://termly.io/">Termly</a>.
    </p>
</div>
{% endblock %}