{% extends "layout.html" %}

{% block page_content %}

<h1 class = 'page_title'>Timetable Page</h1>

{% if jobs %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>job name</th>
            <th>Volunteers Assigned</th>
            <th>Volunteers Needed</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th>Description</th>
            <th>Requirements</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.job_id }}</td>
            <td>{{ job.job_name }}</td>
            <td>{{ job.volunteers_assigned }}</td>
            <td>{{ job.volunteers_needed }}</td>
            <td>{{ job.start_time }}</td>
            <td>{{ job.end_time }}</td>
            <td>{{ job.date }}</td>
            <td>{{ job.job_description }}</td>
            <td>
                {% for qualification in job.job_qualifications %}
                    {{ qualification.qualification_name }}{% if not loop.last %}, {% endif %}
                {% else %}
                    No qualifications
                {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No jobs.</p>
{% endif %}

{% endblock %}