{% extends "layout.html" %}

{% block page_content %}
<div class="timetable-title-box">
    <h1 class='timetable-title'>Timetable</h1>
</div>

{% if jobs %}
<p class="timetable-guide">Click on jobs to see more details and request to volunteer for jobs</p>

<div class="timetable-boxes">
    {% for job in jobs %}
    <div class="job-content">
        <element onclick="togglePopup('{{ job.job_id }}')">
            <div class="job-box">
                <div class="job-name-box">
                    <div class="job-name"><b>{{ job.job_name }}</b></div>
                </div>

                <div>Volunteers assigned: <span>{% for user_job in user_job_link %}{% if user_job.job_id == job.job_id %}{{ all_users.query.filter_by(user_id = user_job.user_id).first().username }}, {% endif %}{% endfor %}</span></div>
                <div>Volunteers needed left: <span>{{ job.volunteers_needed_left }}</span></div>
                <div>Volunteers Needed: <span>{{ job.volunteers_needed }}</span></div>
                <div>Date: <span>{{ job.date }}</span></div>
                <div>Start time: <span>{{ job.start_time }}</span></div>
                <div>End time: <span>{{ job.end_time }}</span></div>
            </div>
        </element>
        
        <div class="popup" id="popup-{{ job.job_id }}">
            <div class="popup-overlay"></div>
            <div class="popup-content">
                <div class="popup-close-btn" onclick="togglePopup('{{ job.job_id }}')">&times;</div>
                <div class="popup-job-name-box">
                    <p class="job-name"><b>{{ job.job_name }}</b></p>
                </div>
                <div class="popup-info">
                    <p>Volunteers Needed: {{ job.volunteers_needed }}</p>
                    <div>Volunteers needed left: <span>{{ job.volunteers_needed_left }}</span></div>
                    <div>Volunteers assigned: <span>{% for user_job in user_job_link %}{% if user_job.job_id == job.job_id %}{{ all_users.query.filter_by(user_id = user_job.user_id).first().username }}, {% endif %}{% endfor %}</span></div>
                    <p>Date: {{ job.date }}</p>
                    <p>Time: {{ job.start_time }} - {{ job.end_time }}</p>
                    <p>Description: {{ job.job_description }}</p>
                    <div>Requirements:
                        <ul>
                            {% for qualification in job.job_qualifications %}
                                <li>{{ qualification.qualification_name }}</li>
                            {% endfor %}
                        </ul>
                    </diV>

                    {% if job.job_id in qualified_jobs_ids %}
                        {% if job.job_id in assigned_job_ids %}
                            <div>You are assigned to this job</div>
                            <form method="post">
                                <input type="hidden" name="remove_request_job_id" value="{{ job.job_id }}">
                                <input type="submit" value="Request to remove from job">
                            </form>
                        {% elif job.job_id in requested_job_ids %}
                        <div>You have requested this job</div>
                        {% elif job.job_id not in requested_job_ids %}
                        {% if job.volunteers_needed_left > 0 %}
                        <form method="post">
                            <input type="hidden" name="job_id_request" value="{{ job.job_id }}">
                            <input type="submit" value="Request job">
                        </form>
                        {% endif %}
                        {% endif %}
                    {% else %}
                        <div>You do not meet the qualifications for this job.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="no-jobs">
    <h1>No jobs found</h1>
    <p>There currently seems to be no available jobs at this moment.</p>
</div>
{% endif %}

<script>
function togglePopup(jobId) {
    document.getElementById("popup-" + jobId).classList.toggle("job_active");
}
</script>
{% endblock %}
